nav {
    padding-bottom: 20px;
    padding-top: 15px;
    padding-right: 15px;
    
}

#mini {
    float: left;
    width: 74px;
    padding-left: 7px;
}

.appbar {
    color: #d93025;
    font: 20px arial, sans-serif;
    font-size: 20px;
    margin: 25px 35px;
    padding-top: 15px;
}

.appbar > label {
    padding-top: 10px;
    margin-left: 10px;
}

#title {
    font: 16px arial, sans-serif;
    color: #333333;
}

#instructions {
    font: 13px arial, sans-serif;
    color:#777777;
    font-weight: bold;
}

/** WHAT THE FUCK????? **/
.search-options {
    padding-bottom: 10px;
}

.lineContainer {
    border-bottom: 1px solid #ebebeb;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
    padding: 2px;
}

nav ul li a {
    font-size: 13px;
    font-family: Arial;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 220px;
    padding-bottom: 15px;
}

#logo {
    width: 270px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchForm {
    padding: 10px;
}

#searchForm {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 35px;
    border-radius: 20px;

    border:1px solid #dcdcdc;

    padding: 2px;
}

#searchForm:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#searchForm:focus {
    outline-style: none;
    width: 470px;
    padding-left: 30px;
}

#buttons {
    display: block;
    text-align: center;
}

#searchButton{

    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;

    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;

    cursor: pointer;
}

#searchButton:hover {
    border: 1px solid #b9b9b95b;
}

form div div {
    display: inline-block;
}

.advanced {
    margin-left: 30px;
    margin-top: 40px;
}

.left-option {
    float: left;
    color: #222;
    font: 13px arial, sans-serif;
    width: 165px;
    vertical-align: middle;
}

.left-option label {
    vertical-align: middle;
    height: 30px;
}

.middle-option {
    height: 30px;
}

.text-input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 500px;
    padding: 1px 8px;
    vertical-align: middle;
}

.right-option {
    font: 11px arial, sans-serif;
    color: #555555;
    margin: 5px;
}

.tiny {
    font: 11px monospace;
    color: #666666;
}

.adv-search {
    width: 683px;
    text-align: right;
}

.adv-button {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    box-shadow: none;
    line-height:100%;
    height:30px;
    min-width:120px;
}

.adv-button:hover {
    background-color: #4787ed;
    background-image: none;
}